<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>TheMonkeySMedia</title>

  <link rel="shortcut icon" type="image/x-icon" href="http://api.themonkeysmedia.com:8000/media/logo/logo.png" />

  <script src="https://cdn.jsdelivr.net/npm/regenerator-runtime@0.13.7/runtime.min.js"></script>

  <!-- <meta http-equiv="Content-Security-Policy" content="default-src 'self' https: localhost:*; script-src 'unsafe-inline' 'unsafe-eval' https: localhost:*; connect-src https: localhost:* ws://localhost:*; style-src 'unsafe-inline' https:; object-src 'none';"> -->
  <meta name="importmap-type" content="systemjs-importmap" />

  <script type="systemjs-importmap">
    {
      "imports": {
        "single-spa": "https://cdn.jsdelivr.net/npm/single-spa@5.9.0/lib/system/single-spa.min.js",
        "react": "https://unpkg.com/react@17/umd/react.development.js",
        "react-dom": "https://unpkg.com/react-dom@17/umd/react-dom.development.js",
        "react-router-dom": "https://unpkg.com/react-router-dom@5.2.0/umd/react-router-dom.min.js",
		"react-is": "https://unpkg.com/react-is@17.0.1/umd/react-is.production.min.js",
        "styled-components": "https://unpkg.com/styled-components@5.2.2/dist/styled-components.min.js"
      }
    }
  </script>
  <link rel="preload" href="https://cdn.jsdelivr.net/npm/single-spa@5.9.0/lib/system/single-spa.min.js" as="script">

  <% if (isLocal) { %>
    <script type="systemjs-importmap">
	{
	  "imports": {
		"@monkeysmedia/root-config": "//localhost:9000/monkeysmedia-root-config.js",
		"@monkeysmedia/navbar": "//localhost:3000/monkeysmedia-navbar.js",
		"@monkeysmedia/util-module": "//localhost:3001/monkeysmedia-util-module.js",
		"@monkeysmedia/globalStyles": "//localhost:3002/monkeysmedia-globalStyles.js",
		"@monkeysmedia/not-found": "//localhost:3003/monkeysmedia-not-found.js",
		"@monkeysmedia/create-post": "//localhost:3004/monkeysmedia-create-post.js",
		"@monkeysmedia/feed": "//localhost:3005/monkeysmedia-feed.js",
		"@monkeysmedia/post": "//localhost:3006/monkeysmedia-post.js",
		"@monkeysmedia/profile": "//localhost:3007/monkeysmedia-profile.js",
		"@monkeysmedia/login": "//localhost:3008/monkeysmedia-login.js",
		"@monkeysmedia/register": "//localhost:3009/monkeysmedia-register.js",
		"@monkeysmedia/freinds-chat": "//localhost:3010/monkeysmedia-freinds-chat.js",
		"@monkeysmedia/chat": "//localhost:3011/monkeysmedia-chat.js",
		"@monkeysmedia/search": "//localhost:3012/monkeysmedia-search.js",
		"@monkeysmedia/settings": "//localhost:3013/monkeysmedia-settings.js",
		"@monkeysmedia/notifications": "//localhost:3014/monkeysmedia-notifications.js",
		"@monkeysmedia/notifications-page": "//localhost:3015/monkeysmedia-notifications-page.js",
		"@monkeysmedia/stories": "//localhost:3016/monkeysmedia-stories.js"
	  }
	}
	</script>

	<% } else {%>
	<script type="systemjs-importmap" src="https://www.themonkeysmedia.com:5000/production.json"></script>
	<% } %>

      <script src="https://cdn.jsdelivr.net/npm/import-map-overrides@2.2.0/dist/import-map-overrides.js"></script>
      <% if (isLocal) { %>
        <script src="https://cdn.jsdelivr.net/npm/systemjs@6.8.3/dist/system.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/systemjs@6.8.3/dist/extras/amd.js"></script>
        <% } else { %>
          <script src="https://cdn.jsdelivr.net/npm/systemjs@6.8.3/dist/system.min.js"></script>
          <script src="https://cdn.jsdelivr.net/npm/systemjs@6.8.3/dist/extras/amd.min.js"></script>
          <% } %>

            <template id="single-spa-layout" style="display: none;">
              <single-spa-router base="/">
                <main style="height: 100%; height: 100%;">
				  <application name="@monkeysmedia/globalStyles"></application>
				  <application name="@monkeysmedia/notifications"></application>
                  <route default>
                    <application name="@monkeysmedia/not-found"></application>
                  </route>
                  <route path="/" exact>
					  <application name="@monkeysmedia/navbar"></application>
					  <application name="@monkeysmedia/create-post"></application>
					  <application name="@monkeysmedia/stories"></application>
					  <application name="@monkeysmedia/feed"></application>
				  </route>
                  <route path="/login/" exact>
                      <application name="@monkeysmedia/login"></application>
                  </route>
                  <route path="/register/" exact>
                      <application name="@monkeysmedia/register"></application>
                  </route>
                  <route path="/search/" exact>
                      <application name="@monkeysmedia/search"></application>
                  </route>
				  <route path="/settings/" exact>
                      <application name="@monkeysmedia/navbar"></application>
                      <application name="@monkeysmedia/settings"></application>
                  </route>
                  <route path="/profile/:username/" exact>
                      <application name="@monkeysmedia/profile"></application>
                  </route>
                  <route path="/notifications/" exact>
					  <application name="@monkeysmedia/navbar"></application>
                      <application name="@monkeysmedia/notifications-page"></application>
                  </route>
                  <route path="/chat/">
				  </style>
					  <div class="chat" style="display: grid;
						grid-template-columns: min(max(40%, 250px), 350px) auto;
						height: 100%;">
						  <application name="@monkeysmedia/freinds-chat"></application>
						  <route path=":username/">
							<application name="@monkeysmedia/chat"></application>
						  </route>
					  </div>
                  </route>
                </main>
              </single-spa-router>
            </template>

<style>

	@media screen and (max-width: 650px) {
		div.chat {
			display: none!important;
		}
	}
</style>

</head>

<body>
  <script>
    System.import('@monkeysmedia/root-config');
  </script>
  <import-map-overrides-full show-when-local-storage="devtools" dev-libs></import-map-overrides-full>
</body>

</html>
